@page
@model Shop.UI.Pages.Admin.ConfigureUsersModel

@{

}


<div id="app" class="container">
    <input type="text" v-model="username" />
    <button class="button" @@click="createUser()">Create User</button>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="js/admin/users.js"></script>
}
